<div>
  <h1> Receitas </h1>
</div>

<div class="receitasFarmaceutico">

  <div class="search">
    <label>
      <b>receitaid:</b>
    </label>
    <input #receitaid type="text" placeholder="" name="receitaid" required>
    <button (click)="search(receitaid.value); receitaid.value='' ">Search</button>
  </div>

  <p></p>

  <div class="searchResult" *ngIf="isSelected()">
    <a class="badge">receitaID: {{selectedReceita._id}}</a>
    <li *ngFor="let prescricao of selectedReceita.prescricoes">
      <ul>
        <li>Numero: {{prescricao.numero}}</li>
        <li>Quantidade: {{prescricao.quantidade}}</li>
        <li>apresentacaoID: {{prescricao.apresentacaoID}}</li>
        <li>apresentacao: {{prescricao.apresentacao}}</li>
      </ul>
    </li>
  </div>
  
</div>